* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --background: #128C7E;
  --background-alt: #005191;
  --buttons: #ff6900;
  --hover: #007991;
  --text: white;
  --default: black;
  --body: rgb(255, 245, 203) 0%;
}

/* ====== Header styling ======*/
header {
  background: linear-gradient(var(--background), var(--background-alt)),url('hero-img.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  border-radius: 0 0 150px 0;
}

header .logo img {
  height: 70px;
}

.header-content {
  padding: 10px 60px;
}

.nav-links {
  display: flex !important;
}

.nav-links ul {
  position: absolute;
  top: 60px;
  left: 650px;
  display: flex;
  gap: 50px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}

.nav {
  transition: .3s ease;
}

.nav:hover {
  color: var(--buttons);
}

.book-session {
  background-color: var(--buttons);
  border-radius: 20px;
  padding: 12px;
  transition: .3s ease;
  text-align: center;
  border: none;
  width: 150%;
  margin-top: -35px;
  color: var(--text);
  font-weight: bold;
  font-size: 16px;
}

.book-session:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.hero-text {
  margin: 40px 60px;
  width: 50%;
}

.hero-text h1 {
  color: var(--text);
  font-size: 90px;
}

.hero-text p {
  color: var(--text);
  font-size: 25px;
}

.hero-text a {
  text-decoration: none;
  color: var(--text);
}

.coach {
  background-color: var(--buttons);
  color: var(--background-alt);
  padding: 3px;
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  transform: scale(.7);
}

.view {
  color: var(--text);
  transition: .2s ease-out;
}

.view-services {
  transition: .2s ease-out;
}

.view-services:hover {
  color: var(--buttons);
}

.view-services:hover .view {
  color: var(--buttons);
}

/* ====== Features Styling ======*/
.features {
  display: flex;
  margin: 20px 110px;
  justify-content: space-between;
}

.feature {
  padding: 60px;
}

.feature-header {
  font-weight: bold;
}

.first-block {
  width: 40%;
}

.first-block h1 {
  font-weight: bold;
  font-size: 34px;
}

.first-block p {
  line-height: 24px;
  opacity: .8;
}

.sub-block {
  display: flex;
  gap: 10px;
  vertical-align: middle;
}

.sub-block h5 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 5px;
}

.sub-block p {
  width: 88%;
  line-height: 20px;
  opacity: .8;
}

.sub-icon {
  background-color: var(--buttons);
  color: var(--text);
  padding: 8px;
  height: fit-content;
  border-radius: 100%;
}

/* ====== Services styling ======*/
.service {
  background: linear-gradient(var(--background), var(--background-alt));
  margin-top: 20px;
}

.services {
  display: flex;
  color: var(--text);
  gap: 30px;
  position: relative;
  padding: 90px;
}

.services-content {
  width: 20%;
}

.service h1 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}

.service p {
  font-size: 20px;
  opacity: .8;
}

.note {
  background-color: var(--text);
  position: absolute;
  left: 900px;
  top: 45px;
  width: 280px;
  height: fit-content;
  padding: 40px;
}

.note h1 {
  color: var(--default);
  width: 80%;
}

.note p {
  color: var(--default);
}

.note a {
  text-decoration: none;
  color: var(--default);
  opacity: .8;
  transition: .2s ease;
}

.note a:hover {
  color: var(--buttons);
}

.note a:hover i {
  color: var(--buttons);
  transition: .2s ease;
}

.note a i {
  color: var(--default);
}

/* ====== Testimony Styling ======*/
.testimony-content {
  padding: 90px;
}

.testimonials {
  display: flex;
  gap: 40px;
}

.first-textimonial {
  background-color: var(--text);
  box-shadow: 0 0 2px 2px var(--buttons);
  border-radius: 10px;
  padding: 40px;
  width: 40%;
}

.second-textimonial {
  background-color: var(--text);
  box-shadow: 0 0 2px 2px var(--buttons);
  border-radius: 10px;
  padding: 25px;
  width: 40%;
}
.testimonials-text2{
  width: 70%;
}

.trusted {
  font-size: 36px;
  font-weight: bold;
  width: 30%;
}

.icons {
  display: flex;
  justify-content: right;
}

.testimonials-icon {
  color: var(--buttons);
}



/* ====== Contact Styling ======*/
.contact-content{
  background: linear-gradient(var(--background), var(--text)), url('hero-img.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 50px;
}
.line{
  background-color: var(--buttons);
  height: 3px;
  width: 80px;
  margin: auto;
}
.join-us{
  font-size: 50px;
}
.join-us-text{
  font-size: 20px;
  width: 50%;
  color: var(--text);
  opacity: .8;
  margin: auto;
}
.contact input{
  width: 50%;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 5px;
}
.contact button{
  border: none;
  padding: 12px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: var(--buttons);
  width: 12%;
  text-align: center;
  transition: .2s ease;
}
.contact button:hover{
  transform: translateX(-4px);
  background-color: var(--hover);
}

/* ====== Media queries ======*/
/* ====== Large screen ======*/
@media (max-width: 560px) {}