* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --background: #128C7E;
  --background-alt: #005191;
  --buttons: #ff6900;
  --button-alt: #ff9635;
  --hover: #007991;
  --text: white;
  --default: black;
  --body: rgb(255, 245, 203) 0%;
  --body-alt: rgb(207, 200, 200);
}

/* ====== Book session overlay styling ======*/
.book-session-overlay {
  position: absolute;
  left: 26%;
  top: 20%;
  background-color: var(--background-alt);
  color: var(--text);
  z-index: 999;
  padding: 20px;
  width: 50%;
  margin-top: -650px;
  transition: .4s ease-in-out;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 2px 2px var(--background-alt);
}

.book-session-overlay .close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  border: none;
  outline: none;
  border-radius: 50%;
}

.book-session-overlay .input,
.textarea {
  width: 96.5% !important;
}

.book-session-overlay button {
  width: 100% !important;
}

.book-session-overlay button {
  padding: 10px;
  width: 159%;
  outline: none;
  border: 1px solid var(--hover);
  border-radius: 5px;
  transition: .2s ease;
}

.book-session-overlay button:hover {
  background-color: var(--hover);
  color: var(--text);
}

/* ====== Header styling ======*/
.overlay-black{
  width: 100%;
  height: 100vh;
  background-color: var(--default);
  position: absolute;
  top: 0;
  opacity: .6;
  display: none;
}

header {
  display: flex;
  position: relative;
}
.top-header{
  display: flex;
  justify-content: space-between;
}
.hamburger {
  display: none;
}
.fa-xmark{
  display: none !important;
}

.overlay {
  background: linear-gradient(var(--hover), var(--background-alt));
  position: absolute;
  height: 100vh;
  width: 100%;
  opacity: .8;
  border-radius: 0 0 200px 0;
}

.container {
  background-image: url('person-2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  border-radius: 0 0 200px 0;
}

header .logo img {
  height: 70px;
  position: relative;
}

.header-content {
  padding: 10px 60px;
}

.nav-links {
  display: flex !important;
}

.nav-links ul {
  position: absolute;
  top: 40px;
  left: 650px;
  display: flex;
  gap: 50px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}

.nav {
  transition: .3s ease;
}

.nav:hover {
  color: var(--buttons);
}

.book-session {
  background-color: var(--buttons);
  border-radius: 20px;
  padding: 12px;
  transition: .3s ease;
  text-align: center;
  border: none;
  width: 150%;
  margin-top: -35px;
  color: var(--text);
  font-weight: bold;
  font-size: 16px;
}

.book-session:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.hero-text {
  margin: 50px 60px;
  width: 50%;
  position: relative;
}

.hero-text h1 {
  color: var(--text);
  font-size: 90px;
}

.hero-text p {
  color: var(--text);
  font-size: 25px;
}

.hero-text a {
  text-decoration: none;
  color: var(--text);
}

.coach {
  background-color: var(--button-alt);
  color: var(--hover);
  padding: 3.5px;
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  transform: scale(.7);
}

.view {
  color: var(--text);
  transition: .2s ease-out;
}

.view-services {
  transition: .2s ease-out;
}

.view-services:hover {
  color: var(--buttons);
}

.view-services:hover .view {
  color: var(--buttons);
}

/* ====== Features Styling ======*/
.features {
  display: flex;
  margin: 20px 110px;
  justify-content: space-between;
}

.feature {
  padding: 60px;
}

.feature-header {
  font-weight: bold;
}

.first-block {
  width: 40%;
}

.first-block h1 {
  font-weight: bold;
  font-size: 34px;
}

.first-block p {
  line-height: 24px;
  opacity: .8;
}

.sub-block {
  display: flex;
  gap: 10px;
  vertical-align: middle;
}

.sub-block h5 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 5px;
}

.sub-block p {
  width: 88%;
  line-height: 20px;
  opacity: .8;
}

.sub-icon {
  background-color: var(--buttons);
  color: var(--text);
  padding: 8px;
  height: fit-content;
  border-radius: 100%;
}

/* ====== Services styling ======*/
.service {
  display: flex;
  position: relative;
}

.overlay1 {
  background: linear-gradient(var(--hover), var(--background-alt));
  position: absolute;
  opacity: .7;
  width: 100%;
  height: 100%;
}

.service-container {
  background-image: url('person-1.jpg');
  background-size: cover;
  background-position: center;
}

.services {
  display: flex;
  color: var(--text);
  gap: 30px;
  padding: 90px;
  position: relative;
}

.services-content {
  width: 20%;
}

.service h1 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}

.service p {
  font-size: 20px;
  opacity: .8;
}

.note {
  background-color: var(--text);
  position: absolute;
  left: 900px;
  top: 98px !important;
  width: 280px;
  height: fit-content;
  padding: 40px;
}

.note h1 {
  color: var(--default);
  width: 80%;
}

.note p {
  color: var(--default);
}

.note a {
  text-decoration: none;
  color: var(--default);
  opacity: .8;
  transition: .2s ease;
}

.note a:hover {
  color: var(--buttons);
}

.note a:hover i {
  color: var(--buttons);
  transition: .2s ease;
}

.note a i {
  color: var(--default);
}

.lines {
  background-color: var(--buttons);
  height: 3px;
  width: 80px;
  margin-bottom: 30px;
}

/* ====== Testimonial Styling ======*/
.testimony-content {
  padding: 90px;
}

.testimonials {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.testimonials-img {
  background-position: center;
  background-size: cover;
  width: 15%;
  height: 80px;
  position: absolute;
  border-radius: 10px;
  top: -40px;
}

.first-textimonial {
  background-color: var(--text);
  box-shadow: 0 0 2px 2px var(--buttons);
  border-radius: 10px;
  padding: 40px;
  width: 40%;
  position: relative;
}

.second-textimonial {
  background-color: var(--text);
  box-shadow: 0 0 2px 2px var(--buttons);
  border-radius: 10px;
  padding: 25px;
  width: 40%;
  position: relative;
}

.testimonials-text {
  margin-top: 35px;
}

.testimonials-text2 {
  width: 70%;
  margin-top: 30px;
}

.trusted {
  font-size: 36px;
  font-weight: bold;
  width: 30%;
}

.icons {
  display: flex;
  justify-content: right;
}

.testimonials-icon {
  color: var(--buttons);
}



/* ====== Contact Styling ======*/
.contact-content {
  background-image: url('person-3.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 50px;
}

.line {
  background-color: var(--buttons);
  height: 3px;
  width: 80px;
  margin: auto;
}

.join-us {
  font-size: 50px;
}

.join-us-text {
  font-size: 20px;
  width: 50%;
  color: var(--text);
  opacity: .8;
  margin: auto;
}

.contact input {
  width: 50%;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 5px;
  z-index: 999;
}

.contact button {
  border: none;
  padding: 12px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: var(--buttons);
  width: 12%;
  text-align: center;
  transition: .2s ease;
}

.contact button:hover {
  transform: translateX(-4px);
  background-color: var(--hover);
}

/* ====== Footer Styling ======*/
.footer-section {
  padding: 90px;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials a {
  text-decoration: none;
  color: var(--default);
  cursor: pointer;
}

.socials .fa-brands {
  transition: .2s ease;
  font-size: 22px;
}

.socials .fa-brands:hover {
  color: var(--hover);
}

.footer-text {
  width: 40%;
}

.links-contact {
  display: flex;
  gap: 100px;
  margin-left: 560px;
  margin-top: -340px;
}

.links-contact button {
  padding: 10px;
  width: 159%;
  outline: none;
  border: 1px solid var(--hover);
  border-radius: 5px;
  transition: .2s ease;
}

.links-contact button:hover {
  background-color: var(--hover);
  color: var(--text);
}

.quick-links a {
  text-decoration: none;
  color: var(--default);
  transition: .2s ease;
}

.quick-links a:hover {
  color: var(--hover);
}

.quick-links li {
  list-style-type: none;
  line-height: 30px;
}

.contact-session input,
textarea {
  padding: 10px;
  width: 150%;
  outline: none;
  border: 1px solid var(--hover);
  border-radius: 5px;
}

.copywrite {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
}

/* ====== Media queries ======*/

/* ====== Small screen ======*/
@media screen and (min-width: 375px) and (max-width: 1000px){
  .hamburger {
    display: block;
    background-color: var(--button-alt);
    padding: 10px;
    color: var(--text);
    position: absolute;
    left: 310px;
    top: 29px;
    font-size: 23px;
  }

  .book-session-overlay {
    position: absolute;
    left: 15%;
    top: 12%;
    width: 70%;
  }

  .book-session-overlay .input,
  .textarea {
    width: 96.5% !important;
    margin-left: -7px;
  }

  .book-session-overlay button {
    width: 102% !important;
  }

  .fa-xmark {
    margin-left: 295px;
    margin-top: 20px;
    display: block !important;
    color: var(--text);
    font-size: 25px;
  }

  /* ====== Header ======*/
  .overlay {
    height: 100%;
  }

  .container {
    height: 90vh;
  }

  .header-content {
    padding: 20px 5px;
  }

  header .logo img {
    transform: scale(.8);
  }

  .nav-links ul {
    width: 90%;
    height: 50%;
    top: 88px;
    left: 0;
    padding: 20px;
    background-color: var(--background);
    z-index: 999;
    display: block;
    line-height: 39px;
    margin-top: -700px;
    transition: .4s ease-in-out;
  }

  .book-session {
    background: none !important;
    width: 100%;
    margin-top: -8px;
    padding: 0;
    text-align: left;
  }

  .book-session:hover {
    background-color: none !important;
    color: var(--buttons);
  }

  .hero-text {
    padding: 15px;
    margin: 0;
    width: 80%;
    position: relative;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 20px;
  }

  /* ====== Features ======*/
  .features {
    display: block;
    margin: 0;
    margin-top: -25px;
  }

  .feature {
    padding: 20px;
  }

  .first-block {
    width: 100%;
  }

  .first-block h1 {
    font-size: 20px;
  }

  .sub-block {
    display: block;
  }

  .sub-block h5 {
    width: 100% !important;
    font-size: 16px;
    margin-top: 10px;
  }

  .sub-block p {
    width: 100% !important;
  }

  /* ====== Services ======*/
  .services {
    display: block;
    padding: 20px;
  }

  .lines {
    margin-top: 30px;
  }

  .services-content {
    width: 100%;
  }

  .service h1 {
    font-size: 20px;
  }

  .note {
    position: relative;
    left: 10px;
    top: 20px !important;
    width: 70%;
    height: fit-content;
  }

  /* ====== Testimonials ======*/
  .testimony-content {
    padding: 20px;
  }

  .testimonials {
    display: block;
  }

  .testimonials-img {
    width: 19%;
  }

  .trusted {
    width: 80%;
  }

  .first-textimonial {
    width: 95%;
    padding: 10px;
  }

  .second-textimonial {
    width: 95%;
    padding: 10px;
    margin-top: 70px;
  }

  /* ====== Contact ======*/
  .contact-content {
    padding: 40px;
  }

  .join-us-text {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .join-us {
    font-size: 37px;
  }

  .contact input {
    width: 90%;
  }

  .contact button {
    width: 30%;
  }

  /* ====== Footer ======*/
  .footer-section {
    padding: 30px;
  }

  .links-contact {
    display: block;
    margin-left: 0;
    margin-top: 0;
  }

  .footer-text {
    width: 100%;
  }

  .links-contact button {
    width: 102%;
  }

  .contact-session input,
  textarea {
    width: 95%;
  }

  .contact-session label {
    text-align: left !important;
  }

  .quick-link {
    margin-bottom: 20px;
  }

  .copywrite {
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 414px) {
  .hamburger{
    left: 350px;
  }
  .fa-xmark {
    margin-left: 340px;
  }
}
/* ====== Medium screen ======*/
@media screen and (min-width: 768px) and (max-width: 1140px) {
  .hamburger {
    left: 700px;
  }
  .fa-xmark {
    margin-left: 685px;
  }
  .overlay{
    height: 75vh;
  }
  .container{
    height: 75vh;
  }
  .nav-links ul {
    width: 94.4%;
  }
  .hero-text{
    margin: 10% auto;
  }
  .hero-text h1{
    font-size: 80px;
  }
  .services {
    display: flex;
    height: 50vh;
  }
  .note{
    position: absolute;
    width: 30%;
    top: 307px !important;
    left: 20px;
  }
  .testimonials {
    display: flex;
  }
  .second-textimonial {
    margin-top: 0;
  }
  .footer-section {
    text-align: center;
  }
  .links-contact button {
    width: 98% !important;
  }
  .copywrite {
    display: flex;
    padding: 5px;
    width: 98%;
  }
  .socials{
    margin: auto 42%;
  }
}
@media screen and (min-width: 820px) and (max-width: 1200px){
  .hamburger{
    left: 750px;
  }
  .note{
    position: absolute;
    top: 390px !important;
  }
  .fa-xmark{
    margin-left: 730px;
  }
}


